.stButton>button{
    font-family: 'Noto Sans JP', serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #d34669;
    font-weight: 700;
    border: solid 3px #d34669;
    border-radius: 999px;
    display: flex;
    box-sizing: border-box;
    width: 220px;
    height: 220px;
    text-align: center; 
    align-items: center; 
    padding: 60px;
    margin: 24px;
    margin-inline: auto;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
  }
.stButton>button:hover {
    color: #fff;
    background: #e16f94;
    transition: all 0.3s;
  }